<h2> 分類列表 </h2>

<div class="pull-right" style="margin-bottom: 20px;">
  <%= link_to '新的分類', new_admin_category_path, class: 'btn btn-primary'%>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>

      <th>名稱</th>
      <th colspan="2">設置</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name%></td>
      <td><%= link_to '編輯',edit_admin_category_path(category)%></td>
      <td><%= link_to '刪除',admin_category_path(category),method: :delete, data: {confirm: '你確定要刪除嗎'}%></td>
    </tr>
    <% end %>

  </tbody>
</table>
